<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN240_DataScience_671/blob/main/CN240_Lecture_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 6: Data Wrangling and Data Cleaning

## Overview
- Reshaping data
- Joining data
- Examples
- Dealing with Text
- Missing data (if we have time today.)

## Reshaping Data

### `melt()`
- `melt()` turn a wide table into a long table.
- The format that we want is row = one observation, column = one variable.
- Syntax: `melt(id_vars, value_vars)`
  - `id_vars`: specifies the column(s) that should **remain unchanged**
  - `value_vars`: Column(s) to be a new column.

<img src= 'https://drive.google.com/thumbnail?id=1JK2hmw6XcfajDNgQgryKLMqXoVm9QF2o&sz=w1000'></img>

In [ ]:
import pandas as pd

In [ ]:
# load the data
# Get the data from github
wide_data = pd.read_csv('/content/fertility-two-countries-example.csv')
wide_data

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Germany,2.41,2.44,2.47,2.49,2.49,2.48,2.44,2.37,2.28,...,1.36,1.36,1.37,1.38,1.39,1.40,1.41,1.42,1.43,1.44
1,South Korea,6.16,5.99,5.79,5.57,5.36,5.16,4.99,4.85,4.73,...,1.20,1.21,1.23,1.25,1.27,1.29,1.30,1.32,1.34,1.36

In [ ]:
new_data = wide_data.melt(id_vars = ['country'],
                          value_vars = wide_data.columns[1:],
                          var_name= 'year',
                          value_name='fertility'
                          )
new_data

         country  year  fertility
0        Germany  1960       2.41
1    South Korea  1960       6.16
2        Germany  1961       2.44
3    South Korea  1961       5.99
4        Germany  1962       2.47
..           ...   ...        ...
107  South Korea  2013       1.32
108      Germany  2014       1.43
109  South Korea  2014       1.34
110      Germany  2015       1.44
111  South Korea  2015       1.36

[112 rows x 3 columns]

### `pivot`

- We can convert from long data to wide data using `pivot`
- Syntax: `df.pivot(index=ids, columns='var', values='val)`
  - The `index` parameter specifies the columns that should **remain as index** columns.
  -  The `columns` parameter specifies the column that will be used to **create new columns**.
  - The `values` parameter specifies the column that contains the **values to be filled** in the new columns.

<img src= 'https://drive.google.com/thumbnail?id=1H-FhwpQ2zBOcdGEgOZ5EQEd9dHb4Ua75&sz=w1000'></img>

In [ ]:
new_wide_data = new_data.pivot(index=['country'],
                               columns = ['year'],
                               values =['fertility'])

# Flatten the MultiIndex in columns
new_wide_data.columns = new_wide_data.columns.get_level_values(1)

# Reset the index to make 'country' a regular column
new_wide_data = new_wide_data.reset_index()

new_wide_data

year,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Germany,2.41,2.44,2.47,2.49,2.49,2.48,2.44,2.37,2.28,...,1.36,1.36,1.37,1.38,1.39,1.40,1.41,1.42,1.43,1.44
1,South Korea,6.16,5.99,5.79,5.57,5.36,5.16,4.99,4.85,4.73,...,1.20,1.21,1.23,1.25,1.27,1.29,1.30,1.32,1.34,1.36

#### Separating Variables

In [ ]:
combined_data = pd.read_csv('/content/life-expectancy-and-fertility-two-countries-example.csv')
combined_data

,country,1960_fertility,1960_life_expectancy,1961_fertility,1961_life_expectancy,1962_fertility,1962_life_expectancy,1963_fertility,1963_life_expectancy,1964_fertility,...,2011_fertility,2011_life_expectancy,2012_fertility,2012_life_expectancy,2013_fertility,2013_life_expectancy,2014_fertility,2014_life_expectancy,2015_fertility,2015_life_expectancy
0,Germany,2.41,69.26,2.44,69.85,2.47,70.01,2.49,70.10,2.49,...,1.40,80.5,1.41,80.6,1.42,80.7,1.43,80.7,1.44,80.8
1,South Korea,6.16,53.02,5.99,53.75,5.79,54.51,5.57,55.27,5.36,...,1.29,80.6,1.30,80.7,1.32,80.9,1.34,80.9,1.36,81.0

- We want to create a long table with four columns:
  - country
  - year
  - fertility
  - life_expectancy
- Steps:
  1. melt
  2. Create two new columns using str.split()
  3. pivot with country and value

In [ ]:
# 1. Melt
## We can skip value_vars, since we use the rest of columns
df_long = combined_data.melt(id_vars=['country'],
                  var_name='temp',
                  value_name='value')
df_long

         country                  temp  value
0        Germany        1960_fertility   2.41
1    South Korea        1960_fertility   6.16
2        Germany  1960_life_expectancy  69.26
3    South Korea  1960_life_expectancy  53.02
4        Germany        1961_fertility   2.44
..           ...                   ...    ...
219  South Korea  2014_life_expectancy  80.90
220      Germany        2015_fertility   1.44
221  South Korea        2015_fertility   1.36
222      Germany  2015_life_expectancy  80.80
223  South Korea  2015_life_expectancy  81.00

[224 rows x 3 columns]

In [ ]:
# 2. Create two new columns based on str.split()
df_long[['year', 'variable']] = df_long['temp'].str.split('_', n=1, expand=True)
df_long

         country                  temp  value  year         variable
0        Germany        1960_fertility   2.41  1960        fertility
1    South Korea        1960_fertility   6.16  1960        fertility
2        Germany  1960_life_expectancy  69.26  1960  life_expectancy
3    South Korea  1960_life_expectancy  53.02  1960  life_expectancy
4        Germany        1961_fertility   2.44  1961        fertility
..           ...                   ...    ...   ...              ...
219  South Korea  2014_life_expectancy  80.90  2014  life_expectancy
220      Germany        2015_fertility   1.44  2015        fertility
221  South Korea        2015_fertility   1.36  2015        fertility
222      Germany  2015_life_expectancy  80.80  2015  life_expectancy
223  South Korea  2015_life_expectancy  81.00  2015  life_expectancy

[224 rows x 5 columns]

In [ ]:
df_long = df_long.pivot(index=['country', 'year'],
                        columns='variable',
                        values='value').reset_index()
df_long

variable      country  year  fertility  life_expectancy
0             Germany  1960       2.41            69.26
1             Germany  1961       2.44            69.85
2             Germany  1962       2.47            70.01
3             Germany  1963       2.49            70.10
4             Germany  1964       2.49            70.66
..                ...   ...        ...              ...
107       South Korea  2011       1.29            80.60
108       South Korea  2012       1.30            80.70
109       South Korea  2013       1.32            80.90
110       South Korea  2014       1.34            80.90
111       South Korea  2015       1.36            81.00

[112 rows x 4 columns]

## Joining Tables

- Sometimes, we need to combine a few data together.
- Pandas provide a function `merge` to join two data in various ways.

<img src= 'https://drive.google.com/thumbnail?id=1eCljI-KPaOhAAHow6Yj4qKfqu1mOhRIn&sz=w1000'></img>

#### joining example

In [ ]:
# load the data
murders = pd.read_csv('/content/murders.csv')
election2016 = pd.read_csv('/content/results_us_election_2016.csv')

In [ ]:
murders.head()

        state abb region  population  total
0     Alabama  AL  South     4779736    135
1      Alaska  AK   West      710231     19
2     Arizona  AZ   West     6392017    232
3    Arkansas  AR  South     2915918     93
4  California  CA   West    37253956   1257

In [ ]:
election2016.head()

   Unnamed: 0       state  electoral_votes  clinton  trump  others
0           1  California               55     61.7   31.6     6.7
1           2       Texas               38     43.2   52.2     4.5
2           3     Florida               29     47.8   49.0     3.2
3           4    New York               29     59.0   36.5     4.5
4           5    Illinois               20     55.8   38.8     5.4

In [ ]:
# Merge by state
first_merge =  pd.merge(murders, election2016, on='state', how='left')
first_merge

,state,abb,region,population,total,Unnamed: 0,electoral_votes,clinton,trump,others
0,Alabama,AL,South,4779736,135,22,9,34.4,62.1,3.6
1,Alaska,AK,West,710231,19,44,3,36.6,51.3,12.2
2,Arizona,AZ,West,6392017,232,14,11,45.1,48.7,6.2
3,Arkansas,AR,South,2915918,93,30,6,33.7,60.6,5.8
4,California,CA,West,37253956,1257,1,55,61.7,31.6,6.7
5,Colorado,CO,West,5029196,65,23,9,48.2,43.3,8.6
6,Connecticut,CT,Northeast,3574097,97,27,7,54.6,40.9,4.5
7,Delaware,DE,South,897934,38,45,3,53.4,41.9,4.7
8,District of Columbia,DC,South,601723,99,51,3,90.9,4.1,5.0
9,Florida,FL,South,19687653,669,3,29,47.8,49.0,3.2
10,Georgia,GA,South,9920000,376,8,16,45.9,51.0,3.1
11,Hawaii,HI,West,1360301,7,39,4,62.2,30.0,7.7
12,Idaho,ID,West,1567582,12,40,4,27.5,59.3,13.2
13,Illinois,IL,North Central,12830632,364,5,20,55.8,38.8,5.4
14,Indiana,IN,North Central,6483802,142,15,11,37.8,56.9,5.3
15,Iowa,IA,North Central,3046355,21,31,6,41.7,51.1,7.1
16,Kansas,KS,North Central,2853118,63,32,6,36.1,56.7,7.3
17,Kentucky,KY,South,4339367,116,25,8,32.7,62.5,4.8
18,Louisiana,LA,South,4533372,351,26,8,38.4,58.1,3.5
19,Maine,ME,Northeast,1328361,11,41,4,48.0,45.0,7.0
20,Maryland,MD,South,5773552,293,18,10,60.3,33.9,5.8
21,Massachusetts,MA,Northeast,6547629,118,16,11,60.0,32.8,7.2
22,Michigan,MI,North Central,9883640,413,9,16,47.3,47.5,5.2
23,Minnesota,MN,North Central,5303925,53,19,10,46.4,44.9,8.6
24,Mississippi,MS,South,2967297,120,33,6,40.1,57.9,1.9
25,Missouri,MO,North Central,5988927,321,20,10,38.1,56.8,5.1
26,Montana,MT,West,989415,12,46,3,35.9,56.5,7.6
27,Nebraska,NE,North Central,1826341,32,36,5,34.3,59.9,5.8
28,Nevada,NV,West,2700551,84,34,6,47.9,45.5,6.6
29,New Hampshire,NH,Northeast,1316470,5,42,4,46.8,46.5,6.7
30,New Jersey,NJ,Northeast,8791894,246,11,14,55.5,41.4,3.2
31,New Mexico,NM,West,2059179,67,37,5,48.3,40.0,11.7
32,New York,NY,Northeast,19378102,517,4,29,59.0,36.5,4.5
33,North Carolina,NC,South,9535483,286,10,15,46.2,49.8,4.0
34,North Dakota,ND,North Central,672591,4,47,3,27.2,63.0,9.8
35,Ohio,OH,North Central,11536504,310,7,18,43.5,51.7,4.8
36,Oklahoma,OK,South,3751351,111,28,7,28.9,65.3,5.7
37,Oregon,OR,West,3831074,36,29,7,50.1,39.1,10.8
38,Pennsylvania,PA,Northeast,12702379,457,6,20,47.9,48.6,3.6
39,Rhode Island,RI,Northeast,1052567,16,43,4,54.4,38.9,6.7
40,South Carolina,SC,South,4625364,207,24,9,40.7,54.9,4.4
41,South Dakota,SD,North Central,814180,8,48,3,31.7,61.5,6.7
42,Tennessee,TN,South,6346105,219,17,11,34.7,60.7,4.6
43,Texas,TX,South,25145561,805,2,38,43.2,52.2,4.5
44,Utah,UT,West,2763885,22,35,6,27.5,45.5,27.0
45,Vermont,VT,Northeast,625741,2,49,3,56.7,30.3,13.1
46,Virginia,VA,South,8001024,250,12,13,49.8,44.4,5.8
47,Washington,WA,West,6724540,93,13,12,54.3,38.1,7.6
48,West Virginia,WV,South,1852994,27,38,5,26.5,68.6,4.9
49,Wisconsin,WI,North Central,5686986,97,21,10,46.5,47.2,6.3
50,Wyoming,WY,West,563626,5,50,3,21.9,68.2,10.0

#### Joining Example 2

- We will be looking at Tuberculosis in the United States.
- We can download this data from CDC https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down

In [ ]:
# More about this next week
#tbls = pd.read_html("https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down")
#df = tbls[0] # First table on the website
#df.to_csv('cdc_tuberculosis.csv')

In [ ]:
tb_df = pd.read_csv("/content/cdc_tuberculosis.csv",)
tb_df

,Unnamed: 0,U.S. jurisdiction,No. of TB cases*,No. of TB cases*.1,No. of TB cases*.2,TB incidence†,TB incidence†.1,TB incidence†.2
0,NaN,U.S. jurisdiction,2019,2020,2021,2019.00,2020.00,2021.00
1,0.0,Total,8900,7173,7860,2.71,2.16,2.37
2,1.0,Alabama,87,72,92,1.77,1.43,1.83
3,2.0,Alaska,58,58,58,7.91,7.92,7.92
4,3.0,Arizona,183,136,129,2.51,1.89,1.77
5,4.0,Arkansas,64,59,69,2.12,1.96,2.28
6,5.0,California,2111,1706,1750,5.35,4.32,4.46
7,6.0,Colorado,66,52,58,1.15,0.90,1.00
8,7.0,Connecticut,67,54,54,1.88,1.50,1.50
9,8.0,Delaware,18,17,43,1.84,1.71,4.29
10,9.0,District of Columbia,24,19,19,3.39,2.75,2.84
11,10.0,Florida,558,412,499,2.60,1.91,2.29
12,11.0,Georgia,302,221,228,2.84,2.06,2.11
13,12.0,Hawaii,99,92,106,6.99,6.34,7.35
14,13.0,Idaho,7,8,4,0.39,0.43,0.21
15,14.0,Illinois,326,216,255,2.57,1.69,2.01
16,15.0,Indiana,108,92,127,1.60,1.36,1.87
17,16.0,Iowa,52,39,49,1.65,1.22,1.53
18,17.0,Kansas,37,37,43,1.27,1.26,1.47
19,18.0,Kentucky,66,67,57,1.48,1.49,1.26
20,19.0,Louisiana,88,99,86,1.89,2.13,1.86
21,20.0,Maine,18,17,14,1.34,1.25,1.02
22,21.0,Maryland,209,148,192,3.45,2.40,3.11
23,22.0,Massachusetts,178,142,151,2.58,2.02,2.16
24,23.0,Michigan,131,101,136,1.31,1.00,1.35
25,24.0,Minnesota,148,117,134,2.62,2.05,2.35
26,25.0,Mississippi,58,41,45,1.95,1.39,1.53
27,26.0,Missouri,70,79,77,1.14,1.28,1.25
28,27.0,Montana,2,4,3,0.19,0.37,0.27
29,28.0,Nebraska,17,33,22,0.88,1.68,1.12
30,29.0,Nevada,53,57,61,1.71,1.83,1.94
31,30.0,New Hampshire,6,12,12,0.44,0.87,0.86
32,31.0,New Jersey,310,245,279,3.49,2.64,3.01
33,32.0,New Mexico,41,29,24,1.95,1.37,1.13
34,33.0,New York,746,605,681,3.83,3.00,3.43
35,34.0,North Carolina,185,159,178,1.76,1.52,1.69
36,35.0,North Dakota,18,10,15,2.36,1.28,1.94
37,36.0,Ohio,150,130,149,1.28,1.10,1.26
38,37.0,Oklahoma,73,67,69,1.84,1.69,1.73
39,38.0,Oregon,70,67,78,1.66,1.58,1.84
40,39.0,Pennsylvania,199,156,166,1.55,1.20,1.28
41,40.0,Rhode Island,14,7,17,1.32,0.64,1.55
42,41.0,South Carolina,80,67,88,1.55,1.31,1.70
43,42.0,South Dakota,16,16,12,1.80,1.80,1.34
44,43.0,Tennessee,129,113,85,1.89,1.63,1.22
45,44.0,Texas,1154,883,991,3.98,3.02,3.36
46,45.0,Utah,27,29,17,0.84,0.88,0.51
47,46.0,Vermont,4,3,2,0.64,0.47,0.31
48,47.0,Virginia,191,169,161,2.23,1.96,1.86
49,48.0,Washington,221,163,199,2.90,2.11,2.57
50,49.0,West Virginia,9,13,7,0.50,0.73,0.39
51,50.0,Wisconsin,51,35,66,0.88,0.59,1.12
52,51.0,Wyoming,1,0,3,0.17,0.00,0.52

- The first row should be the column names/headers
- Always check your header

In [ ]:
tb_df = pd.read_csv("/content/cdc_tuberculosis.csv", header=1) # row index
tb_df = tb_df.drop(columns=tb_df.columns[0])
tb_df

       U.S. jurisdiction  2019  2020  2021  2019.1  2020.1  2021.1
0                  Total  8900  7173  7860    2.71    2.16    2.37
1                Alabama    87    72    92    1.77    1.43    1.83
2                 Alaska    58    58    58    7.91    7.92    7.92
3                Arizona   183   136   129    2.51    1.89    1.77
4               Arkansas    64    59    69    2.12    1.96    2.28
5             California  2111  1706  1750    5.35    4.32    4.46
6               Colorado    66    52    58    1.15    0.90    1.00
7            Connecticut    67    54    54    1.88    1.50    1.50
8               Delaware    18    17    43    1.84    1.71    4.29
9   District of Columbia    24    19    19    3.39    2.75    2.84
10               Florida   558   412   499    2.60    1.91    2.29
11               Georgia   302   221   228    2.84    2.06    2.11
12                Hawaii    99    92   106    6.99    6.34    7.35
13                 Idaho     7     8     4    0.39    0.43    0.21
14              Illinois   326   216   255    2.57    1.69    2.01
15               Indiana   108    92   127    1.60    1.36    1.87
16                  Iowa    52    39    49    1.65    1.22    1.53
17                Kansas    37    37    43    1.27    1.26    1.47
18              Kentucky    66    67    57    1.48    1.49    1.26
19             Louisiana    88    99    86    1.89    2.13    1.86
20                 Maine    18    17    14    1.34    1.25    1.02
21              Maryland   209   148   192    3.45    2.40    3.11
22         Massachusetts   178   142   151    2.58    2.02    2.16
23              Michigan   131   101   136    1.31    1.00    1.35
24             Minnesota   148   117   134    2.62    2.05    2.35
25           Mississippi    58    41    45    1.95    1.39    1.53
26              Missouri    70    79    77    1.14    1.28    1.25
27               Montana     2     4     3    0.19    0.37    0.27
28              Nebraska    17    33    22    0.88    1.68    1.12
29                Nevada    53    57    61    1.71    1.83    1.94
30         New Hampshire     6    12    12    0.44    0.87    0.86
31            New Jersey   310   245   279    3.49    2.64    3.01
32            New Mexico    41    29    24    1.95    1.37    1.13
33              New York   746   605   681    3.83    3.00    3.43
34        North Carolina   185   159   178    1.76    1.52    1.69
35          North Dakota    18    10    15    2.36    1.28    1.94
36                  Ohio   150   130   149    1.28    1.10    1.26
37              Oklahoma    73    67    69    1.84    1.69    1.73
38                Oregon    70    67    78    1.66    1.58    1.84
39          Pennsylvania   199   156   166    1.55    1.20    1.28
40          Rhode Island    14     7    17    1.32    0.64    1.55
41        South Carolina    80    67    88    1.55    1.31    1.70
42          South Dakota    16    16    12    1.80    1.80    1.34
43             Tennessee   129   113    85    1.89    1.63    1.22
44                 Texas  1154   883   991    3.98    3.02    3.36
45                  Utah    27    29    17    0.84    0.88    0.51
46               Vermont     4     3     2    0.64    0.47    0.31
47              Virginia   191   169   161    2.23    1.96    1.86
48            Washington   221   163   199    2.90    2.11    2.57
49         West Virginia     9    13     7    0.50    0.73    0.39
50             Wisconsin    51    35    66    0.88    0.59    1.12
51               Wyoming     1     0     3    0.17    0.00    0.52

- We need to differentiate "Number of TB cases" and "TB incidence"

In [ ]:
# Renaming columns
rename_dict = {'2019': 'TB cases 2019',
               '2020': 'TB cases 2020',
               '2021': 'TB cases 2021',
               '2019.1': 'TB incidence 2019',
               '2020.1': 'TB incidence 2020',
               '2021.1': 'TB incidence 2021'}
tb_df = tb_df.rename(columns=rename_dict)
tb_df

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,1154,883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [ ]:
# row = 0 is total. We don't need it.
tb_df = tb_df.drop(0) # drop index 0
tb_df.head()

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46

In [ ]:
tb_df.sum()

U.S. jurisdiction    AlabamaAlaskaArizonaArkansasCaliforniaColorado...
TB cases 2019                                                     8900
TB cases 2020                                                     7173
TB cases 2021                                                     7860
TB incidence 2019                                               107.23
TB incidence 2020                                                90.93
TB incidence 2021                                               100.57
dtype: object

- The total TB cases look right.
- The incidence numbers are not right.
- We need more information to calculate it correctly. **We need population information.**

#### Population information from Census data

- U.S. Census population estimates source ([2019](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html)), source ([2020-2021](https://www.census.gov/data/tables/time-series/demo/popest/2020s-state-total.html)).

- There are a few new methods here:

  - `df.convert_dtypes()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html)) conveniently converts all float dtypes into ints and is out of scope for the class.
  - `df.drop_na()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)) will be explained in more detail next time.

In [ ]:
census_2010s_df = pd.read_csv("/content/nst-est2019-01.csv", header=3, thousands=",")
census_2010s_df

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538.0,308758105.0,309321666.0,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,Northeast,55317240.0,55318443.0,55380134.0,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
2,Midwest,66927001.0,66929725.0,66974416.0,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
3,South,114555744.0,114563030.0,114866680.0,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
4,West,71945553.0,71946907.0,72100436.0,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Do some basic data cleaning

In [ ]:
census_2010s_df = (
    census_2010s_df
    .rename(columns={"Unnamed: 0": "Geographic Area"})
    .drop(columns=["Census", "Estimates Base"])
    .convert_dtypes() # "smart" converting of columns to int, use at your own risk
    .dropna()  # we'll introduce this very soon
)
census_2010s_df

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268
5,.Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,.Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,.Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,.Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,.California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,.Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,.Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,.Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,.District of Columbia,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,.Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
15,.Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
16,.Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
17,.Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
18,.Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
19,.Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
20,.Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
21,.Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
22,.Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
23,.Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
24,.Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
25,.Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
26,.Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
27,.Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
28,.Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
29,.Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
30,.Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
31,.Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
32,.Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
33,.Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
34,.New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
35,.New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
36,.New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
37,.New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
38,.North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
39,.North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
40,.Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
41,.Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
42,.Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
43,.Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
44,.Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
45,.South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
46,.South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
47,.Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
48,.Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
49,.Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
50,.Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
51,.Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
52,.Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
53,.West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,.Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,.Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
57,Puerto Rico,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

Notice there is a '.' at the beginning of all the states. We need to remove that.

In [ ]:
census_2010s_df['Geographic Area'] = census_2010s_df['Geographic Area'].str.strip('.')
census_2010s_df

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268
5,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,District of Columbia,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
15,Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
16,Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
17,Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
18,Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
19,Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
20,Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
21,Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
22,Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
23,Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
24,Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
25,Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
26,Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
27,Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
28,Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
29,Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
30,Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
31,Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
32,Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
33,Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
34,New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
35,New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
36,New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
37,New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
38,North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
39,North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
40,Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
41,Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
42,Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
43,Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
44,Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
45,South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
46,South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
47,Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
48,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
49,Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
50,Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
51,Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
52,Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
53,West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
57,Puerto Rico,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

#### Loading the 2020s data

Census collected every 10 years so we need another file.

In [ ]:
# census 2020s data cleaning
census_2020s_df = pd.read_csv("/content/NST-EST2023-POP.csv", header=3, thousands=",")
census_2020s_df = (
    census_2020s_df
    .drop(columns=["Unnamed: 1"])
    .rename(columns={"Unnamed: 0": "Geographic Area"})
    .convert_dtypes()
    .dropna()
)
census_2020s_df['Geographic Area'] = census_2020s_df['Geographic Area'].str.strip('.')
census_2020s_df

         Geographic Area       2020       2021       2022       2023
0          United States  331526933  332048977  333271411  334914895
1              Northeast   57430477   57243423   57026847   56983517
2                Midwest   68969794   68850246   68783028   68909283
3                  South  126465281  127353282  128702030  130125290
4                   West   78661381   78602026   78759506   78896805
5                Alabama    5031864    5050380    5073903    5108468
6                 Alaska     732964     734923     733276     733406
7                Arizona    7186683    7272487    7365684    7431344
8               Arkansas    3014348    3028443    3046404    3067732
9             California   39503200   39145060   39040616   38965193
10              Colorado    5785219    5811596    5841039    5877610
11           Connecticut    3577586    3603691    3608706    3617176
12              Delaware     991862    1004881    1019459    1031890
13  District of Columbia     670839     669037     670949     678972
14               Florida   21591299   21830708   22245521   22610726
15               Georgia   10732390   10790385   10913150   11029227
16                Hawaii    1451181    1446745    1439399    1435138
17                 Idaho    1849339    1904537    1938996    1964726
18              Illinois   12790357   12690341   12582515   12549689
19               Indiana    6789098    6813798    6832274    6862199
20                  Iowa    3190904    3197944    3199693    3207004
21                Kansas    2938124    2937946    2936716    2940546
22              Kentucky    4508155    4507600    4511563    4526154
23             Louisiana    4652022    4627047    4588023    4573749
24                 Maine    1364517    1378787    1389338    1395722
25              Maryland    6173689    6175045    6163981    6180253
26         Massachusetts    6997713    6991951    6982740    7001399
27              Michigan   10070627   10038117   10033281   10037261
28             Minnesota    5710578    5717968    5714300    5737915
29           Mississippi    2958409    2949582    2938928    2939690
30              Missouri    6154426    6170393    6177168    6196156
31               Montana    1087211    1106366    1122878    1132812
32              Nebraska    1963273    1964253    1968060    1978379
33                Nevada    3115840    3146632    3177421    3194176
34         New Hampshire    1378702    1387494    1399003    1402054
35            New Jersey    9272392    9269175    9260817    9290841
36            New Mexico    2118488    2116950    2113476    2114371
37              New York   20104710   19854526   19673200   19571216
38        North Carolina   10453812   10567100   10695965   10835491
39          North Dakota     779563     777982     778912     783926
40                  Ohio   11798292   11765227   11759697   11785935
41              Oklahoma    3965234    3991634    4019271    4053824
42                Oregon    4245044    4256465    4239379    4233358
43          Pennsylvania   12995477   13013614   12972091   12961683
44          Rhode Island    1096444    1097092    1093842    1095962
45        South Carolina    5132151    5193848    5282955    5373555
46          South Dakota     887852     896299     909869     919318
47             Tennessee    6926091    6963709    7048976    7126489
48                 Texas   29234361   29561286   30029848   30503301
49                  Utah    3283982    3339284    3381236    3417734
50               Vermont     642936     647093     647110     647464
51              Virginia    8637193    8657348    8679099    8715698
52            Washington    7724566    7741433    7784477    7812880
53         West Virginia    1791562    1785249    1774035    1770071
54             Wisconsin    5896700    5879978    5890543    5910955
55               Wyoming     577664     579548     581629     584057
57           Puerto Rico    3281557    3262693    3220113    3205691

#### Time to merge all three data
- tb data, census2010s, census2020s
- So that we have all population data from 2019-2021

In [ ]:
# merge TB dataframe with two US census dataframes
tb_census_df = (
    tb_df
    .merge(right=census_2010s_df,
           left_on="U.S. jurisdiction", right_on="Geographic Area")
    .merge(right=census_2020s_df,
           left_on="U.S. jurisdiction", right_on="Geographic Area")
)
tb_census_df.tail()

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2015,2016,2017,2018,2019,Geographic Area_y,2020,2021,2022,2023
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8361808,8410106,8463587,8501286,8535519,Virginia,8637193,8657348,8679099,8715698
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7163657,7294771,7423362,7523869,7614893,Washington,7724566,7741433,7784477,7812880
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1842050,1831023,1817004,1804291,1792147,West Virginia,1791562,1785249,1774035,1770071
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5760940,5772628,5790186,5807406,5822434,Wisconsin,5896700,5879978,5890543,5910955
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,585613,584215,578931,577601,578759,Wyoming,577664,579548,581629,584057

- We don't need all of these. Only 2019 - 2021

In [ ]:
# try merging again, but cleaner this time
tb_census_df = (
    tb_df
    .merge(right=census_2010s_df[["Geographic Area", "2019"]],
           left_on="U.S. jurisdiction", right_on="Geographic Area")
    .drop(columns="Geographic Area")
    .merge(right=census_2020s_df[["Geographic Area", "2020", "2021"]],
           left_on="U.S. jurisdiction", right_on="Geographic Area")
    .drop(columns="Geographic Area")
)
tb_census_df.tail()

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,2019,2020,2021
46,Virginia,191,169,161,2.23,1.96,1.86,8535519,8637193,8657348
47,Washington,221,163,199,2.90,2.11,2.57,7614893,7724566,7741433
48,West Virginia,9,13,7,0.50,0.73,0.39,1792147,1791562,1785249
49,Wisconsin,51,35,66,0.88,0.59,1.12,5822434,5896700,5879978
50,Wyoming,1,0,3,0.17,0.00,0.52,578759,577664,579548

#### Reproduce incidence

Let's recompute incidence to make sure we know where the original CDC numbers came from.

From the [CDC report](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm#T1_down): TB incidence is computed as “Cases per 100,000 persons using mid-year population estimates from the U.S. Census Bureau.”

If we define a group as 100,000 people, then we can compute the TB incidence for a given state population as

$\text{TB incidence} = \frac{\text{#TB cases in population}}{\text{population}} \times 100000$

In [ ]:
# Let's try this for 2019:
tb_census_df["recompute incidence 2019"] = (
    tb_census_df["TB cases 2019"]/tb_census_df["2019"] * 100_000
)
tb_census_df.head()

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,2019,2020,2021,recompute incidence 2019
0,Alabama,87,72,92,1.77,1.43,1.83,4903185,5031864,5050380,1.774357
1,Alaska,58,58,58,7.91,7.92,7.92,731545,732964,734923,7.928425
2,Arizona,183,136,129,2.51,1.89,1.77,7278717,7186683,7272487,2.514179
3,Arkansas,64,59,69,2.12,1.96,2.28,3017804,3014348,3028443,2.120747
4,California,2111,1706,1750,5.35,4.32,4.46,39512223,39503200,39145060,5.342651

Let's use a for-loop and Python format strings to compute TB incidence for all years.

In [ ]:
# recompute incidence for all years
for year in [2019, 2020, 2021]:
    tb_census_df[f"recompute incidence {year}"] = (
        round(tb_census_df[f"TB cases {year}"]/tb_census_df[f"{year}"]*100_000,2)
    )
tb_census_df

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,2019,2020,2021,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
0,Alabama,87,72,92,1.77,1.43,1.83,4903185,5031864,5050380,1.77,1.43,1.82
1,Alaska,58,58,58,7.91,7.92,7.92,731545,732964,734923,7.93,7.91,7.89
2,Arizona,183,136,129,2.51,1.89,1.77,7278717,7186683,7272487,2.51,1.89,1.77
3,Arkansas,64,59,69,2.12,1.96,2.28,3017804,3014348,3028443,2.12,1.96,2.28
4,California,2111,1706,1750,5.35,4.32,4.46,39512223,39503200,39145060,5.34,4.32,4.47
5,Colorado,66,52,58,1.15,0.90,1.00,5758736,5785219,5811596,1.15,0.9,1.0
6,Connecticut,67,54,54,1.88,1.50,1.50,3565287,3577586,3603691,1.88,1.51,1.5
7,Delaware,18,17,43,1.84,1.71,4.29,973764,991862,1004881,1.85,1.71,4.28
8,District of Columbia,24,19,19,3.39,2.75,2.84,705749,670839,669037,3.4,2.83,2.84
9,Florida,558,412,499,2.60,1.91,2.29,21477737,21591299,21830708,2.6,1.91,2.29
10,Georgia,302,221,228,2.84,2.06,2.11,10617423,10732390,10790385,2.84,2.06,2.11
11,Hawaii,99,92,106,6.99,6.34,7.35,1415872,1451181,1446745,6.99,6.34,7.33
12,Idaho,7,8,4,0.39,0.43,0.21,1787065,1849339,1904537,0.39,0.43,0.21
13,Illinois,326,216,255,2.57,1.69,2.01,12671821,12790357,12690341,2.57,1.69,2.01
14,Indiana,108,92,127,1.60,1.36,1.87,6732219,6789098,6813798,1.6,1.36,1.86
15,Iowa,52,39,49,1.65,1.22,1.53,3155070,3190904,3197944,1.65,1.22,1.53
16,Kansas,37,37,43,1.27,1.26,1.47,2913314,2938124,2937946,1.27,1.26,1.46
17,Kentucky,66,67,57,1.48,1.49,1.26,4467673,4508155,4507600,1.48,1.49,1.26
18,Louisiana,88,99,86,1.89,2.13,1.86,4648794,4652022,4627047,1.89,2.13,1.86
19,Maine,18,17,14,1.34,1.25,1.02,1344212,1364517,1378787,1.34,1.25,1.02
20,Maryland,209,148,192,3.45,2.40,3.11,6045680,6173689,6175045,3.46,2.4,3.11
21,Massachusetts,178,142,151,2.58,2.02,2.16,6892503,6997713,6991951,2.58,2.03,2.16
22,Michigan,131,101,136,1.31,1.00,1.35,9986857,10070627,10038117,1.31,1.0,1.35
23,Minnesota,148,117,134,2.62,2.05,2.35,5639632,5710578,5717968,2.62,2.05,2.34
24,Mississippi,58,41,45,1.95,1.39,1.53,2976149,2958409,2949582,1.95,1.39,1.53
25,Missouri,70,79,77,1.14,1.28,1.25,6137428,6154426,6170393,1.14,1.28,1.25
26,Montana,2,4,3,0.19,0.37,0.27,1068778,1087211,1106366,0.19,0.37,0.27
27,Nebraska,17,33,22,0.88,1.68,1.12,1934408,1963273,1964253,0.88,1.68,1.12
28,Nevada,53,57,61,1.71,1.83,1.94,3080156,3115840,3146632,1.72,1.83,1.94
29,New Hampshire,6,12,12,0.44,0.87,0.86,1359711,1378702,1387494,0.44,0.87,0.86
30,New Jersey,310,245,279,3.49,2.64,3.01,8882190,9272392,9269175,3.49,2.64,3.01
31,New Mexico,41,29,24,1.95,1.37,1.13,2096829,2118488,2116950,1.96,1.37,1.13
32,New York,746,605,681,3.83,3.00,3.43,19453561,20104710,19854526,3.83,3.01,3.43
33,North Carolina,185,159,178,1.76,1.52,1.69,10488084,10453812,10567100,1.76,1.52,1.68
34,North Dakota,18,10,15,2.36,1.28,1.94,762062,779563,777982,2.36,1.28,1.93
35,Ohio,150,130,149,1.28,1.10,1.26,11689100,11798292,11765227,1.28,1.1,1.27
36,Oklahoma,73,67,69,1.84,1.69,1.73,3956971,3965234,3991634,1.84,1.69,1.73
37,Oregon,70,67,78,1.66,1.58,1.84,4217737,4245044,4256465,1.66,1.58,1.83
38,Pennsylvania,199,156,166,1.55,1.20,1.28,12801989,12995477,13013614,1.55,1.2,1.28
39,Rhode Island,14,7,17,1.32,0.64,1.55,1059361,1096444,1097092,1.32,0.64,1.55
40,South Carolina,80,67,88,1.55,1.31,1.70,5148714,5132151,5193848,1.55,1.31,1.69
41,South Dakota,16,16,12,1.80,1.80,1.34,884659,887852,896299,1.81,1.8,1.34
42,Tennessee,129,113,85,1.89,1.63,1.22,6829174,6926091,6963709,1.89,1.63,1.22
43,Texas,1154,883,991,3.98,3.02,3.36,28995881,29234361,29561286,3.98,3.02,3.35
44,Utah,27,29,17,0.84,0.88,0.51,3205958,3283982,3339284,0.84,0.88,0.51
45,Vermont,4,3,2,0.64,0.47,0.31,623989,642936,647093,0.64,0.47,0.31
46,Virginia,191,169,161,2.23,1.96,1.86,8535519,8637193,8657348,2.24,1.96,1.86
47,Washington,221,163,199,2.90,2.11,2.57,7614893,7724566,7741433,2.9,2.11,2.57
48,West Virginia,9,13,7,0.50,0.73,0.39,1792147,1791562,1785249,0.5,0.73,0.39
49,Wisconsin,51,35,66,0.88,0.59,1.12,5822434,5896700,5879978,0.88,0.59,1.12
50,Wyoming,1,0,3,0.17,0.00,0.52,578759,577664,579548,0.17,0.0,0.52

### Some words about Date and Time
- Time stamp is another common data
- Need to be careful about time and date formatting!!
- US is MM/DD/YY. TH is DD/MM/YY. JP is YY/MM/DD.

# ---- Break -----

## Dealing with Text

## Why work with text? Two common goals

1. **Canonicalization**:  Convert data that has more than one possible presentation into a standard form.
  - Ex: Join tables with mismatched labels

<img src= 'https://drive.google.com/thumbnail?id=1qpza0rUz-MuzC9hQ4cafSXB8ujXzgGwe&sz=w1000' width = 750></img>

## Why work with text? Two common goals

1. **Canonicalization**:  Convert data that has more than one possible presentation into a standard form.
  - Ex: Join tables with mismatched labels

2. **Extract information** into a new feature (column)
  - Ex: Extract data and times from log files

<img src= 'https://drive.google.com/thumbnail?id=1JDfMlTbwPPGcEzadWHLjaIxi1XAo7sr8&sz=w1000' width = 600></img>

### Python String Methods

- Transformation: `s.lower()`, `s.upper()`
- Split: `s.split(...)`
- membership: `'ab' in s`
- replacement: `s.replace(substring, newstring)`
- substring: `s[1:4]`
- length: `len(s)`

**Problem**: Work on one string and not a list of string. Slow when you need to for loop in a large table.

### Pandas String Methods
- Pandas provides a method of **vectorizing** text operations: the `.str` operator
- **Syntax**: `Series.str.<string_operation>()`
- Apply the function `<string_operation>` to every string contained in the Series

In [ ]:
# Load data for this section
states = pd.read_csv("/content/county_and_state.csv")
populations = pd.read_csv("/content/county_and_population.csv")

# display allows us to view a DataFrame without returning it as an object
display(states)
display(populations)

                       County State
0              De Witt County    IL
1        Lac qui Parle County    MN
2      Lewis and Clark County    MT
3  St John the Baptist Parish    LS

                 County  Population
0                DeWitt       16798
1         Lac Qui Parle        8067
2         Lewis & Clark       55716
3  St. John the Baptist       43044

In [ ]:
#Ex1 str.lower()
populations['County'].str.lower()

0                  dewitt
1           lac qui parle
2           lewis & clark
3    st. john the baptist
Name: County, dtype: object

In [ ]:
#Ex2 str.replace()
populations['County'].str.replace('&','and')

0                  DeWitt
1           Lac Qui Parle
2         Lewis and Clark
3    St. John the Baptist
Name: County, dtype: object

### `.str` Methods


<img src= 'https://drive.google.com/thumbnail?id=12hXiKY3DgFqNjgtcq4T1SDqCO9CjiBRe&sz=w1000' width = 750></img>

#### Merging these two datasets
- we need to **canonicalize** the "County" string data to apply a common formatting.

In [ ]:
def canonicalize_county(county_series):
    return (county_series.str.lower()               # lowercase
            .str.replace(' ', '')                   # remove space
            .str.replace('&', 'and')                # replace &
            .str.replace('.', '')                   # remove dot
            .str.replace('county', '')              # remove "county"
            .str.replace('parish', '')              # remove "parish"
            )

display(canonicalize_county(states["County"]))
display(canonicalize_county(populations["County"]))

0              dewitt
1         lacquiparle
2       lewisandclark
3    stjohnthebaptist
Name: County, dtype: object

0              dewitt
1         lacquiparle
2       lewisandclark
3    stjohnthebaptist
Name: County, dtype: object

In [ ]:
states["Canonical County"] = canonicalize_county(states["County"])
populations["Canonical County"] = canonicalize_county(populations["County"])
display(states)
display(populations)

                       County State  Canonical County
0              De Witt County    IL            dewitt
1        Lac qui Parle County    MN       lacquiparle
2      Lewis and Clark County    MT     lewisandclark
3  St John the Baptist Parish    LS  stjohnthebaptist

                 County  Population  Canonical County
0                DeWitt       16798            dewitt
1         Lac Qui Parle        8067       lacquiparle
2         Lewis & Clark       55716     lewisandclark
3  St. John the Baptist       43044  stjohnthebaptist

Now, the merge works as expected!

In [ ]:
states.merge(populations, on="Canonical County")

,County_x,State,Canonical County,County_y,Population
0,De Witt County,IL,dewitt,DeWitt,16798
1,Lac qui Parle County,MN,lacquiparle,Lac Qui Parle,8067
2,Lewis and Clark County,MT,lewisandclark,Lewis & Clark,55716
3,St John the Baptist Parish,LS,stjohnthebaptist,St. John the Baptist,43044

### Extracting Log Data

<img src= 'https://drive.google.com/thumbnail?id=1JDfMlTbwPPGcEzadWHLjaIxi1XAo7sr8&sz=w1000' width = 600></img>

In [ ]:
# Loading the log file
log_fname = '/content/log.txt'
with open(log_fname, 'r') as f:
    log_lines = f.readlines()
log_lines

['169.237.46.168 - - [26/Jan/2014:10:47:58 -0800] "GET /stat141/Winter04/ HTTP/1.1" 200 2585 "http://anson.ucdavis.edu/courses/"\n',
 '193.205.203.3 - - [2/Feb/2005:17:23:6 -0800] "GET /stat141/Notes/dim.html HTTP/1.0" 404 302 "http://eeyore.ucdavis.edu/stat141/Notes/session.html"\n',
 '169.237.46.240 - "" [3/Feb/2006:10:18:37 -0800] "GET /stat141/homework/Solutions/hw1Sol.pdf HTTP/1.1"\n']

- We want to extract the day, month, year, hour, minutes, seconds, and timezone.
- Let's start with the first line.

In [ ]:
first = log_lines[0]
first

'169.237.46.168 - - [26/Jan/2014:10:47:58 -0800] "GET /stat141/Winter04/ HTTP/1.1" 200 2585 "http://anson.ucdavis.edu/courses/"\n'

- Get the data inside the square brackes by **splitting** string at the square brackets

In [ ]:
pertinent = (
    first.split("[")[1] # remove everything before the first [
    .split(']')[0] # Remove everything after the second square ]
) # find the text enclosed in square brackets
pertinent

'26/Jan/2014:10:47:58 -0800'

- Next, split up date by `/`

In [ ]:
day, month,rest  = pertinent.split('/')       # split up the date/month/year

print("Day:   ", day)
print("Month: ", month)
print("Rest:  ", rest)

Day:    26
Month:  Jan
Rest:   2014:10:47:58 -0800

- Next, split up the hour:minute:second

In [ ]:
year, hour, minute, rest = rest.split(':')    # split up the hour:minute:second

print("Year:   ", year)
print("Hour:   ", hour)
print("Minute: ", minute)
print("Rest:   ", rest)

Year:    2014
Hour:    10
Minute:  47
Rest:    58 -0800

- Lastly, split the timezone after the blank space

In [ ]:
seconds, time_zone = rest.split(' ')          # split the timezone after the blank space
day, month, year, hour, minute, seconds, time_zone

('26', 'Jan', '2014', '10', '47', '58', '-0800')

#### Now, we will do it with Pandas `.str`

In [ ]:
logs = pd.read_csv("/content/log.txt", header=None)[0] #get Series! (Why?)

print("Original input!")
display(logs)

Original input!

0    169.237.46.168 - - [26/Jan/2014:10:47:58 -0800...
1    193.205.203.3 - - [2/Feb/2005:17:23:6 -0800] "...
2    169.237.46.240 - "" [3/Feb/2006:10:18:37 -0800...
Name: 0, dtype: object

In [ ]:
# Split [] and then /
df = (
    logs.str.split("[")
        .str[1]
        .str.split("]")
        .str[0]
        .str.split("/", expand=True)
        .rename(columns={0: "Day", 1: "Month", 2: "Rest"})
)
df

  Day Month                 Rest
0  26   Jan  2014:10:47:58 -0800
1   2   Feb   2005:17:23:6 -0800
2   3   Feb  2006:10:18:37 -0800

In [ ]:
# split :
df = (
    df.join(df["Rest"].str.split(":", expand=True))
        .drop(columns=["Rest"])
        .rename(columns={0: "Year", 1: "Hour", 2: "Minute", 3: "Rest"})
)
df

  Day Month  Year Hour Minute      Rest
0  26   Jan  2014   10     47  58 -0800
1   2   Feb  2005   17     23   6 -0800
2   3   Feb  2006   10     18  37 -0800

In [ ]:
# split space
df = (
    df.join(df["Rest"].str.split(" ", expand=True))
        .drop(columns=["Rest"])
        .rename(columns = {0: "Seconds", 1: "Timezone"})
)

# done
df

  Day Month  Year Hour Minute Seconds Timezone
0  26   Jan  2014   10     47      58    -0800
1   2   Feb  2005   17     23       6    -0800
2   3   Feb  2006   10     18      37    -0800

## Regular Expressions
- A **reg**ular **ex**pression (“regex”) is a sequence of characters that specifies a search pattern.
- It is an embedded domain specific programming language (**a tiny programming language**)

### String Extraction with Regex

- Python `re.findall` returns a list of **all extracted matches**:

In [ ]:
#Example
import re

text = "My phone number is 017-456-6789 bro, or actually maybe it’s 321-425-6789.";

pattern = r"[0-9]{3}-[0-9]{3}-[0-9]{4}"

re.findall(pattern, text)

['017-456-6789', '321-425-6789']

### Goals for Regex

The goal of today is **NOT** to memorize the language of regular expressions!
Instead:
- Understand what regex is capable of.
- Parse and create regex, **with a reference table**.

### Learn from Practice
- Use vocabulary (metacharacter, escape character, groups, etc.) to **describe regex** metacharacters.
- **Differentiate** between `(), [], {}`
- Design your own **character classes** with `\d, \w, \s, […-…], ^,` etc.
- Use Python and pandas regex methods.

### Resources for Practicing Regex
- [regex101.com](regex101.com): provides a visually appealing and easy to use platform for experimenting with regular expressions.
  - **Important**: choose the Python “flavor” in the left sidebar

<img src= 'https://drive.google.com/thumbnail?id=1G9qRRnzueiMogfWDCI7zOIOE9ROsyr6l&sz=w1000' width = 800></img>

### Regex Basics
- There are four basic operations in regex

##### Concentenation - "look for consecutive characters"

- `AABAAB` matches `AABAAB`

#### | - “or”
- `AA|BAAB` matches `AA` or `BAAB`

#### * - “zero or more”
- `AB*A` matches `AA, ABA, ABBA, …`

#### ( ) - “consider a group”
- `(AB)*A` matches `A, ABA, ABABA, …`
- `A(A|B)AAB` matches `AAAAB` or `ABAAB`

- `*`, `( )`, and `|` are called **metacharacters** - they represent an operation, rather than a literal text character

### Basic Regex

<img src= 'https://drive.google.com/thumbnail?id=1P15x87nJG3iOtbvvXamsHg5S-SDTrQN4&sz=w1000' width = 800></img>

#### Ex1 (Slido)

Which regex patterns will match the string "ABBA"? Select all that apply.

#### Ex2 (Slido)

Which pattern matches moon, moooon, etc?

Your expression should match any *even* number of “o”s except zero (i.e. don't match mn, mooon).

#### Try it yourself

- https://regex101.com/r/8tkQ23/1
- https://regex101.com/r/kJpHeZ/1

### 6 More Regex Operations

#### `.` - “look for any character”

- `.U.U.U.` matches `CUMULUS`, `JUGULUM`

#### `+` - “one or more”

- `AB+` matches `AB, ABB, ABBB, …`

#### `?` - “zero or one” ("optional")
- `AB?` matches `A, AB`

#### `{x}` - “repeat exactly x times”
- `AB{2}` matches `ABB`

#### `{x, y}` - “repeat between x and y times”
- `AB{0,2}` matches `A, AB, ABB`

#### `[ ]` - “define a character class”
- `[A-Za-z]` matches `A, a, B, b…`
- `[A-Z]` - any uppercase letter between `A` and `Z`
- `[0-9]` (or `\d`) - any digit between `0` and `9`
- `[A-Za-z0-9]` (or `\w`) - any letter, any digit

Use ^ to negate a class = match any character other than what follows
- `[^A-Z]` - anything that is *not* an uppercase letter between A and Z

### Regex Expand

<img src= 'https://drive.google.com/thumbnail?id=1Q_5IC03bfxXwlg1He5wIC9NBG4Dd1ZVu&sz=w1000' width = 800></img>

#### Ex3 (Slido)

Choose a cleaner solution to the example from before! Which pattern matches moon, moooon, etc?

#### Ex4 (Slido)

What pattern matches any lowercase alphabetic string that has a repeated vowel (noon, peel, festoon, loop, oodles, etc)?

### Regex is greedy

- Regex is **greedy** - it will look for the longest possible match in a string

- Example: `<div>.*</div>`
- Demo: https://regex101.com/r/HATiTH/1

- In English:
  - “Look for the exact string **\<div>**"
  - then, “look for any character 0 or more times”
  - then, “look for the exact string **\</div>**"

- “This is a **\<div>**example\</div> of greediness \<div>in**\</div>** regular expressions.”

- We can fix this by making the pattern **non-greedy**:
  - `<div>.*?</div>`
  - `?` makes the multipliers non-greedy.

### More Regex Operations

#### `\` - 'read the next character literally'
- `a\+b` mataches `a+b`

#### `^` - “match the beginning of a string”
- `^abc` does not match `123 abc`

#### `$` - “match the end of a string”
- `abc$` does not match `abc 123`

### Extra Regex Expand

<img src= 'https://drive.google.com/thumbnail?id=1iVhxSRjF1T8xXFO5W598jLVMJt0TSAzD&sz=w1000' width = 800></img>

### Regex Functions

#### Before We Begin: Raw Strings in Python
- When specifying a pattern, we strongly suggest using raw strings.
- A raw string is created by prepending `r` to the string delimiters
  - `(r"...", r'...', r"""...""", r'''...''')`
- Don't need to escape special characters with `\`
  - e.g. `"\\\\section"` = `r"\\section"`

### Extraction: `re.findall(pattern, text)`
- `re.findall(pattern, text)`: Return a list of all matches to `pattern`.
- `ser.str.findall(pattern)`: Return a Series of lists.

In [ ]:
# ex: findall
text = "My phone number is 017-456-6789 bro, or actually maybe it’s 321-425-6789.";

pattern = r"[0-9]{3}-[0-9]{3}-[0-9]{4}"

re.findall(pattern, text)

['017-456-6789', '321-425-6789']

In [ ]:
# ex: .str.findall
df_phones = pd.DataFrame(
    ['987-653-4321',
     'forty',
     '123-453-6789 bro or 321-451-6789',
     '999-999-9999'],
    columns=['Phone'])
df_phones

                              Phone
0                      987-653-4321
1                             forty
2  123-453-6789 bro or 321-451-6789
3                      999-999-9999

In [ ]:
df_phones['Phone'].str.findall(pattern)

0                  [987-653-4321]
1                              []
2    [123-453-6789, 321-451-6789]
3                  [999-999-9999]
Name: Phone, dtype: object

### Extraction with Capture Groups
- Earlier we used parentheses to specify the **order of operations**.
- Parenthesis can have another meaning:
  - When using certain regex functions, ( ) specifies a capture group.
  - Extract only the portion of the regex pattern inside the capture group

In [ ]:
text = """I will meet you at 08:30:00 pm tomorrow"""
pattern = ".*(\d\d):(\d\d):(\d\d).*"
matches = re.findall(pattern, text)
matches

[('08', '30', '00')]

### Extraction with Capture Groups
- `ser.str.extract(pattern)`: Returns a DataFrame of each capture group's **first** match in the string
- `ser.str.extractall(pattern)`: Returns a multi-indexed DataFrame of **all** matches for each capture group

In [ ]:
# Will extract the first match of all groups
pattern_group_mult = r"([0-9]{3})-([0-9]{3})-([0-9]{4})" # 3 groups
df_phones['Phone'].str.extract(pattern_group_mult)

     0    1     2
0  987  653  4321
1  NaN  NaN   NaN
2  123  453  6789
3  999  999  9999

In [ ]:
# -> DataFrame, one row per match
df_phones['Phone'].str.extractall(pattern_group_mult)

           0    1     2
  match
0 0      987  653  4321
2 0      123  453  6789
  1      321  451  6789
3 0      999  999  9999

#### Substitution
- `re.sub(pattern, repl, text)`: Returns text with all instances of `pattern` replaced by `repl`.

In [ ]:
# In regular Python, canonicalize with re.sub (standing for "substitute"):
text = '<div><td valign="top">Moo</td></div>'
pattern = r"<[^>]+>"
re.sub(pattern, '', text)

'Moo'

How it works:
- `pattern` matches HTML tags
- Then, sub/replace HTML tags with `repl=''` (i.e., empty string)

- `ser.str.replace(pattern, repl, regex=True )`: Returns Series with all instances of `pattern` in Series `ser` replaced by `repl`.

In [ ]:
# example dataframe of strings
df_html = pd.DataFrame(['<div><td valign="top">Moo</td></div>',
                   '<a href="http://ds100.org">Link</a>',
                   '<b>Bold text</b>'], columns=['Html'])
df_html

                                   Html
0  <div><td valign="top">Moo</td></div>
1   <a href="http://ds100.org">Link</a>
2                      <b>Bold text</b>

In [ ]:
# Series -> Series
df_html["Html"].str.replace(pattern, '', regex=True).to_frame()

        Html
0        Moo
1       Link
2  Bold text

### Revisiting Text Log Processing using Regex

In [ ]:
line = log_lines[0]
display(line)

# (numbers)/(Words)/(Numbers):(numbers):(numbers):(numbers):(numbes) (any)
pattern = r'\[(\d+)\/(\w+)\/(\d+):(\d+):(\d+):(\d+) (.+)\]'

day, month, year, hour, minute, second, time_zone = re.findall(pattern, line)[0] # get first match
day, month, year, hour, minute, second, time_zone

'169.237.46.168 - - [26/Jan/2014:10:47:58 -0800] "GET /stat141/Winter04/ HTTP/1.1" 200 2585 "http://anson.ucdavis.edu/courses/"\n'

('26', 'Jan', '2014', '10', '47', '58', '-0800')

In [ ]:
df = pd.DataFrame(log_lines, columns=['Log'])
df

                                                 Log
0  169.237.46.168 - - [26/Jan/2014:10:47:58 -0800...
1  193.205.203.3 - - [2/Feb/2005:17:23:6 -0800] "...
2  169.237.46.240 - "" [3/Feb/2006:10:18:37 -0800...

In [ ]:
pattern = r'\[(\d+)\/(\w+)\/(\d+):(\d+):(\d+):(\d+) (.+)\]'
df['Log'].str.extractall(pattern)

          0    1     2   3   4   5      6
  match
0 0      26  Jan  2014  10  47  58  -0800
1 0       2  Feb  2005  17  23   6  -0800
2 0       3  Feb  2006  10  18  37  -0800

### Pandas Summary


<img src= 'https://drive.google.com/thumbnail?id=1Vi4EoCKG5IoUAurQ0ihkOWmt4Stag-PM&sz=w1000' width = 800></img>

### Limitations of Regular Expressions
- Need to know the syntax well
- Hard to read and debug
- Reality: Just ask AI...